body {
    background-image: url(img/sarvendara-lv-game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrapper-left {
    width: 50%;
    height: 100vh;
    float: left;
    margin-top: 300px;
}

.wrapper-right {
    width: 50%;
    height: 100vh;
    float: left;
    margin-top: 300px;
}

.title-wrapper {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size:x-large;
}

.versus {
    width: 150px;

}

button {
    background-color: rgb(255, 119, 119);
    margin: 1rem;
    width: 120px;
    height: 50px;
}

.wrapper-dice1 {
    text-align: center;
    font-size: 100px;
}

.wrapper-dice2 {
    text-align: center;
    font-size: 100px;
}

.wrapper-name {
    text-align: center;
}

.image-wrapper {
    margin-top: 250px;
}

.first-dice {
    width: 100px;
}

.second-dice {
    width: 100px;
}

.third-dice {
    width: 100px;
}

.fourth-dice {
    width: 100px;
}