body {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrapper-left {
    width: 50%;
    height: 100vh;
    float: left;
    margin-top: 300px;
}

.wrapper-right {
    width: 50%;
    height: 100vh;
    float: left;
    margin-top: 300px;
}

.title-wrapper {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size:x-large;
}

.versus {
    width: 150px;

}

button {
    margin: 1rem;
}

.wrapper-player {
    text-align: center;
    font-size: 100px;
}

.wrapper-name {
    text-align: center;
}

.image-wrapper {
    margin-top: 250px;
}